@model IEnumerable<ApiCatalogMVC.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Produtos";
}

<h2>Produtos</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <a asp-action="CreateProduct" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
            Criar produto
        </a>
    </div>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemUrl)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagemUrl)
                </td>
                <td>
                    <a asp-action="UpdateProduct" asp-route-id="@item.ProdutoId" title="Editar" class="btn btn-primary">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-action="DeleteProduct" asp-route-id="@item.ProdutoId" title="Remover" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>